body {
	background: url('../img/adminground.jpg') no-repeat;
	background-size: cover;
	margin-top: 100px;
}

.container {

	display: flex;
	max-width: 1140px;
	margin: 0 auto;
}
.menu {
	width:230px;
	height: 700px;
	background-color: #241818;
}
.forma {
	width:100%;
	height: 700px;
	background: #ffffffde;
}

/*---------------knopka---------------*/
.update {

	margin-top: 91px;
	position: absolute;
	padding: 17px 27px 17px 26px;
}

.news {
	position: absolute;
	margin-top: 25px;
	padding: 17px 50px 17px 49px;
}
.home {

	margin-top: 157px;
	position: absolute;
	padding: 17px 63px 17px 63px;
}
#decNews {
	margin-top: 21px;
}
#decUpdate {
	margin-top: 87px;
}
p {
	margin: 15px 0 0 0; 
	color: #fff;
	font-size: 33px;
	font-family: 'Jura', sans-serif;
}

.inc, .dec {
	color: #fff;
	font-size: 25px;
}
.dec{
	margin-top: 237px;
}
.update, .news, .home {
	font-family: 'Jura', sans-serif;
	font-size: 25px;
	color: #fff; /* цвет текста */
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	background: rgb(52, 34, 34); /* фон кнопки */
	outline: none;
} 
.home:hover, .update:hover, .news:hover { 
	background: rgb(216, 193, 130); 
} 
.home:active, .update:active, .news:active { 
	background: rgb(149, 141, 0); 
}
/*---------------knopka---------------*/

/*---------------forma---------------*/

.container .forma .item {
	display: flex;
	flex-direction: column;	
}

.container .forma .item .btn {
	background-color: black;
	color: #fff;
	width: 150px;
	margin: auto;
	text-align: center;
	transition: all 1s; 
	padding: 5px 10px;
	cursor: pointer;
}

.container .forma .item .btn:hover {
	background-color: #fff;
	color: black;
}
.container .forma #update_item {
	display: none;
}

#cke_contentNews {margin: 20px 30px;}
#cke_contantUpdate {margin: 20px 30px;}


/*---------------forma---------------*/