<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>counter-stricke</title>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="../css/carusel.css">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Fira+Sans:100" rel="stylesheet">
</head>

<body class="body.skin-oasis.background-fixed">
<header class="head">
	<div class="wrapper">
		<div class="miniwrap">
			<div class="logo">
				<a href="index.html" class="item_logo"><img src="../img/CS_GO.png" alt="лого кс го"></a>
			</div>
				<div class="menu">
					<ul class="menu__item">
						<li class="item"><a href="news.html" class="menu__link">Новости</a></li>
						<li class="item"><a href="updates.html" class="menu__link">Обновления</a></li>
						<li class="item"><a href="maps.html" class="menu__link">Карты</a></li>
						<li class="item"><a href="rank.html" class="menu__link">Звания</a></li>
					</ul>
				</div>
			<div class="admin">
				<a href="login.html" class="item_admin"><img src="../img/king2.png" alt="headshot"></a>
			</div>
		</div>
	</div>	
</header>

<div id="Container_01" class="container">
		<div class="minicontainer">

			<div class="trailer">
				<iframe id="maintrailer" width="1140" height="650" src="https://www.youtube.com/embed/edYCtaNueQY"  frameborder="0" allowfullscreen>
				</iframe>
			</div>
				<div class="text01">
					<h1 class="text1">
				"современный многопользовательский шутер"</h1>
				</div>
		</div>		
</div>

<div id="Container_02" class="container">
	<div class="minicontainer">
		<div class="text02">
			<h1 class="text2">
		        <span class="s1">CS:GO это продолжение и последняя</span>
			    <span class="s2">из серий легендарных игр от компании</span>
		        <span class="s3">VALVE и Hidden Path Entertainment.</span>
		        <span class="s4">Как и 12 лет назад остаётся тем же</span>
		        <span class="s1">ураганным командным</span>
		        <span class="s6">игровым процессом.</span> 
		    </h1> 
		</div>
	</div>
</div>

<div id="Container_03" class="container">
	<div class="minicontainer">
		<div class="text03">
			<h1 class="text3">
				<span class="s1">Одна из самых популярных в мире игр,</span>
	            <span class="s2">часто появляется на игровых</span>
	            <span class="s3">соревнованиях и продана в количестве</span>
	            <span class="s4">более 25 миллионов копий по всему миру.</span>
	            <span class="s5">Игра обслуживаеться по сей день,</span>
	            <span class="s3">стабильный выход обновлений, игровых</span>
	            <span class="s2">режимов и игровых карт.</span> 
			</h1>
		</div>
	</div>
</div>

<div id="Container_04" class="container">
	<div class="minicontainer">
		<div class="text04">
			<h1 class="text4">
				<span class="s1">Множество игровых зон которые делают эту игру по своему уникальной,</span>
				<span class="s2">предоставляя игроку множеству вариантов ведения боя, раскидок гранат,</span>
				<span class="s1">захвата и также защиты базы.</span>
			</h1>
			<h2 class="text5">
				Командная игра залог победы.</h2>
		</div>
	</div>
</div>
<div class="carusel">
<!-- Slideshow container -->
	<div class="slideshow-container">

	  <!-- Full-width images with number and caption text -->
	  <div class="mySlides fade">
	  	<div class="textcarusel">Movie CS:GO frags</div>
	    <video class="videoslides" src="../video/csgo.mp4" style="width:100% " poster="../img/poster.jpg" controls ></video>
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Movie CS:GO frags</div>
	   <video class="videoslides" src="../video/csgo2.mp4" style="width:100%" poster="../img/poster2.jpg" controls ></video>
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Cache</div>
	    <img class="imgslides" src="../img/carusel/cache.jpg" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Cobblestone</div>
	    <img class="imgslides" src="../img/carusel/cbble_big.jpg" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Dust 2</div>
	    <img class="imgslides" src="../img/carusel/dust2.jpg" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Inferno</div>
	    <img class="imgslides" src="../img/carusel/inferno.jpg" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Mirage</div>
	    <img class="imgslides" src="../img/carusel/mirage.png" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Nuke</div>
	    <img class="imgslides" src="../img/carusel/nuke.png" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Overpass</div>
	    <img class="imgslides" src="../img/carusel/overpass.png" style="width:100%; height: 650px">  
	  </div>

	  <div class="mySlides fade">
	  	<div class="textcarusel">Map Train</div>
	    <img class="imgslides" src="../img/carusel/train.png" style="width:100%; height: 650px">  
	  </div>

	  <!-- Next and previous buttons -->
	  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	  <a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
</div>

<footer class="footer">
	<div class="minifooter">
		<div class="text06">
			<h1 class="text6">Зовите друзей и играйте вместе</h1>
		</div>
		<div class="button">
			<a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/" class="button1">Купить и играть сейчас</a>
		</div>
		<div class="footinfo">
			<div class="footimg1">
				<a href="http://www.esrb.org/ratings/" class="esrb"><img src="../img/footer_esrb_big.png" alt="esrb"></a>
			</div>
			<div class="imgtext">
				<ul class="imgitem">
					<li class="items"><a href="https://store.steampowered.com/"><img src="../img/footer_steam.png" alt=""></a></li>
					<li class="items"><a href="https://www.valvesoftware.com/ru/"><img src="../img/footer_valve.png" alt=""></a></li>
					<li class="items"><a href="https://developer.valvesoftware.com"><img src="../img/footer_source.png" alt=""></a></li>
				</ul>
				<div class="text7">
					<p class="text07">
						© 2018 Valve Corporation, all rights reserved.  Valve, the Valve logo, Source, 
						the Source logo, Steam, the Steam logo, Counter-Strike, and the Counter-Strike 
						logo are trademarks and or registered trademarks of the Valve Corporation.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>


<script src="../script/carusel.js"></script>
</body>
</html>