<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="../css/log.css">
</head>
<body>
	<div class="window">
		<div class="panel">
			<img class="images" src="../img/logimg.png" alt="">
			<div class="form">
				<p>
					<label for="login">Логин :</label>
					<input type="text" name="login" placeholder="Введите имя учётной записи">
				</p>
				<p>
					<label for="password">Пароль :</label>
					<input type="password" name="password" placeholder="Введите пароль">
				</p>
				<p class="login-submit">
				<button type="submit" class="login-button">Войти</button>
				</p>
			</div>
		</div>
	</div>
</body>
</html>