<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>maps</title>

	<link rel="stylesheet" type="text/css" href="../css/inf.css">
	<link rel="stylesheet" href="../css/carusel.css">
	<link href="../css/fotorama.css" rel="stylesheet">

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../script/fixmenu.js"></script>
	<script src="../script/fotorama.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Bowlby+One+SC|Cormorant+Garamond|PT+Sans|Lobster|Fira+Sans:100|Poiret+One" rel="stylesheet">
</head>
<body>
	<header class="headinf">
		<div class="wrapper">
			<div class="menu">
				<ul class="menu__item">
					<li class="item"><a href="index.html" id="csgo" class="item__CSGO">CS:GO</a></li>
					<li class="item"><a href="#" class="menu__link">Новости</a></li>
					<li class="item"><a href="#" class="menu__link">Обновления</a></li>
					<li class="item"><a href="maps.html" class="menu__link">Карты</a></li>
					<li class="item"><a href="#" class="menu__link">Звания</a></li>
				</ul>
			</div>
		</div>	
	</header>

	<div id="Container_01" class="conteiner">
		<div class="minicontainer">
			<div class="maps">
				<ul class="menu_maps">
					<li class="item">
						<a href="#C02" class="menu__link"><img src="../img/view_maps/cache.png" alt="cache">
						</a>
					</li>
					<li class="item">
						<a href="#C03" class="menu__link"><img src="../img/view_maps/cobble.png" alt="cobble">
						</a>
					</li>
					<li class="item">
						<a href="#C04" class="menu__link"><img src="../img/view_maps/dust2.png" alt="dust2">
						</a>
					</li>
					<li class="item">
						<a href="#C05" class="menu__link"><img src="../img/view_maps/inferno.png" alt="inferno">
						</a>
					</li>
					<li class="item">
						<a href="#C06" class="menu__link"><img src="../img/view_maps/mirage.png" alt="mirage">
						</a>
					</li>
					<li class="item">
						<a href="#C07" class="menu__link"><img src="../img/view_maps/nuke.png" alt="nuke">
						</a>
					</li>
					<li class="item">
						<a href="#C08" class="menu__link"><img src="../img/view_maps/overpass.png" alt="overpas">
						</a>
					</li>
					<li class="item">
						<a href="#C09" class="menu__link"><img src="../img/view_maps/train.png" alt="train">
						</a>
					</li>
				</ul>
			</div>	
		</div>
	</div>

	<div id="Container_02" class="container">
		<div id="C02" class="minicontainer">
			<div class="cache1">
				<h2 class="text1">Cache</h2>
					<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
						  <img src="../img/view_maps/cache/1c.jpg">
						  <img src="../img/view_maps/cache/2c.jpg">
						  <img src="../img/view_maps/cache/3c.jpg">
						  <img src="../img/view_maps/cache/4c.jpg">
						  <img src="../img/view_maps/cache/5c.jpg">
					</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
						<div class="author">
							<p>Сальваторе</p> 
							<p>Гореццо</p>
							<p>Ленц Монат </p>
							<p>Шон Снеллинг</p>
						</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="cache2">
				<p class="t1">
					«Подготовка к операции и тактическое мастерство крайне важны для защиты скрытого склада оружия под Чернобылем.»
				</p>
				<p class="t2" >
				— Официальное описание
				</p>
				<p class="t3">
					Cache (de_cache) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive. Представлена в операции «Браво» и в операции «Феникс». Вошла в ряд передовых карт с выходом операции «Прорыв».
				</p>
				<h3>Описание</h3>
				<p class="t4">
					Действия карты происходят в заброшенном украинском городе Припять, рядом с Чернобыльской атомной электростанцией.
				</p>
				<p class="t4">
					Террористы пытаются подорвать тайники с оружием. Спецназ же должен предотвратить подрыв, либо уничтожить террористов.
				</p>
				<p class="t4">
					Основные бои проходят на точках закладки бомб (A и B) и в центре карты.
				</p>
				<p class="t4">
					Карта небольшая, но при этом сбалансированная. Cache популярна среди игроков и входит в группу «карт передовой».
				</p>
				<p class="t4">
					Официальные фракции этой карты — Подразделение Феникс (команда террористов) и GIGN (команда спецназа).
				</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех террористов.
					</li>
					<li>
						Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
					</li>
					<li>
						Разминировать бомбу после того, как террористы её поставили.
					</li>
				</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех бойцов спецназа.
					</li>
					<li>
						Поставить бомбу и не дать разминировать её.
					</li>
				</ol>
			</div>
		</div>
	</div>

	<div id="Container_03" class="container">
		<div id="C03" class="minicontainer">
			<div  class="cobble1">
				<h2 class="text1">Cobblestone</h2>
					<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
						  <img src="../img/view_maps/cobble/1cb.jpg">
						  <img src="../img/view_maps/cobble/2cb.jpg">
						  <img src="../img/view_maps/cobble/3cb.jpg">
						  <img src="../img/view_maps/cobble/4cb.jpg">
						  <img src="../img/view_maps/cobble/5cb.jpg">
					</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
						<div class="author">
							<p>Дэвид Джонстон</p> 
							<p>Valve Corporation</p>
							<p>Hidden Path</p>
							<p>Entertainment</p>
						</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="cobble2">
				<p class="t1">
					«Почувствуйте классику CS; геймплей менее стабилен с новыми тактическими решениями; годится как в игре 5 на 5, так и в большом окружении.»
				</p>
				<p class="t2" >— Официальное описание</p>
				<p class="t3">
					Cobblestone (de_cbble) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive. Выпущена в обновлении Winter Offensive вместе с Overpass.
				</p>
				<h3>Описание</h3>
				<p class="t4">
					Карта расположена в замке Лорда Уильяма, что во Франции.
				</p>
				<p class="t4">
					У спецназа есть две цели: предотвратить закладку бомбы террористами или же обезвредить бомбу.
				</p>
				<p class="t4">
					Официальные фракции этой карты — Подразделение «Феникс» (команда террористов) и GIGN (команда спецназа).
				</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех бойцов спецназа.
					</li>
					<li>
						Поставить бомбу и не дать разминировать её.
					</li>
				</ol>
			</div>
		</div> 
	</div>

	<div id="Container_04" class="container">
		<div id="C04" class="minicontainer">
			<div class="dust21">
				<h2 class="text1">Dust 2</h2>
				<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
					  <img src="../img/view_maps/dust2/1d.jpg">
					  <img src="../img/view_maps/dust2/2d.jpg">
					  <img src="../img/view_maps/dust2/3d.jpg">
					  <img src="../img/view_maps/dust2/4d.jpg">
					  <img src="../img/view_maps/dust2/5d.jpg">
				</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
					<div class="author">
						<p>Дэвид Джонстон</p> 
						<p>Valve Corporation</p>
						<p>Hidden Path</p>
						<p>Entertainment</p>
					</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="dust22">
				<p class="t3">
					Dust II (de_dust2) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive.
				</p>
				<h3>Описание</h3>
					<p class="t4">
						Карта расположена в Марокко, в старой версии на Ближнем Востоке.
					</p>
					<p class="t4">
						У спецназа есть две цели: предотвратить закладку бомбы террористами или же обезвредить бомбу.
					</p>
					<p class="t4">
						Dust 2, бесспорно, самая популярная и играемая карта в России и, наверное, самая узнаваемая карта франшизы.
					</p>
					<p class="t4">
						Dust 2, в отличие от Dust, более сбалансированная карта. Здесь комфортно играть и террористом, и спецназу, когда на простом Dust дисбаланс был в сторону спецназа.
					</p>
					<p class="t4">
						Официальные фракции этой карты — Элитное подразделение (команда террористов) и IDF (команда спецназа)
					</p>
				<h4>Задачи карты</h4>
					<p class="t4">
						Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
					</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
					<p class="t4">Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
					</p>
					<ol class="oltext">
						<li>Уничтожить всех бойцов спецназа.
						</li>
						<li>Поставить бомбу и не дать разминировать её.
						</li>
					</ol>
			</div>
		</div>
	</div>	

	<div id="Container_05" class="container">
		<div id="C05" class="minicontainer">
			<div  class="inferno1">
				<h2 class="text1">Inferno</h2>
				<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
					  <img src="../img/view_maps/inferno/1i.jpg">
					  <img src="../img/view_maps/inferno/2i.jpg">
					  <img src="../img/view_maps/inferno/3i.jpg">
					  <img src="../img/view_maps/inferno/4i.jpg">
					  <img src="../img/view_maps/inferno/5i.jpg">
				</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
					<div class="author">
						<p>Крис Оти</p> 
						<p>Valve Corporation</p>
						<p>Hidden Path</p>
						<p>Entertainment</p>
					</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="inferno2">
				<p class="t3">
					Inferno (de_inferno) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive.
				</p>
				<h3>Описание</h3>
					<p class="t4">
						Действия разворачиваются на улочках маленькой итальянской деревни.
					</p>
					<p class="t4">
						Террористы пытаются заложить бомбу на двух точках, где располагаются ящики с оружием. Спецназ должен предотвратить подрыв этих точек.
					</p>
					<p class="t4">
						Данная карта является одной из самых популярных и сбалансированных.
					</p>
					<p class="t4">
						Официальные фракции этой карты — Сепаратисты (команда террористов) и SAS (команда спецназа).
					</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех бойцов спецназа.
					</li>
					<li>
						Поставить бомбу и не дать разминировать её.
					</li>
				</ol>
			</div>
		</div> 
	</div>

	<div id="Container_06" class="container">
		<div id="C06" class="minicontainer">
			<div class="mirage1">
				<h2 class="text1">Mirage</h2>
				<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
					  <img src="../img/view_maps/mirage/1m.jpg">
					  <img src="../img/view_maps/mirage/2m.jpg">
					  <img src="../img/view_maps/mirage/3m.jpg">
					  <img src="../img/view_maps/mirage/4m.jpg">
					  <img src="../img/view_maps/mirage/5m.jpg">
				</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
					<div class="author">
						<p>Майкл Халл</p> 
						<p>Valve Corporation</p>
						<p>Hidden Path</p>
						<p>Entertainment</p>
					</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="mirage2">
				<p class="t3">
					Mirage (de_mirage) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive.
				</p>
				<h3>Описание</h3>
					<p class="t4">
						Место действия происходят где-то на Ближнем Востоке.
					</p>
					<p class="t4">
						Основные бои разворачиваются на точках закладки бомб (A и B), в центре, в апартаментах.
					</p>
					<p class="t4">
						Террористы с помощью взрывоопасных ракет (на точке закладки А), хотят подорвать посольство и захватить город. Спецназ обязан помешать им.
					</p>
					<p class="t4">
						Данная карта является одной из самых популярных в игре. По масштабам, карта не уступает Dust II. Она хорошо сбалансированная, здесь интересно играть и спецназу, и террористам.
					</p>
					<p class="t4">
						Официальные фракции этой карты — Элитное подразделение (команда террористов) и SAS (команда спецназа).
					</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех бойцов спецназа.
					</li>
					<li>
						Поставить бомбу и не дать разминировать её.
					</li>
				</ol>
			</div>
		</div>
	</div>
	
	<div id="Container_07" class="container">
		<div id="C07" class="minicontainer">
			<div  class="nuke1">
				<h2 class="text1">Nuke</h2>
				<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
					  <img src="../img/view_maps/nuke/1n.jpg">
					  <img src="../img/view_maps/nuke/2n.jpg">
					  <img src="../img/view_maps/nuke/3n.jpg">
					  <img src="../img/view_maps/nuke/4n.jpg">
					  <img src="../img/view_maps/nuke/5n.jpg">
				</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
					<div class="author">
						<p>Джо Биг</p> 
						<p>Valve Corporation</p>
						<p>Hidden Path</p>
						<p>Entertainment</p>
					</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="nuke2">
				<p class="t1">
					«АЭС «Cedar Creek»: новый ядерный объект, 
					старые террористы с бомбой.»
				</p>
				<p class="t2" >
				— Официальное описание
				</p>
				<p class="t3">
					Nuke (de_nuke) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive.
				</p>
				<h3>Описание</h3>
				<p class="t4">
					Место действия происходят на АЭС Cedar Creek, которая расположена где-то в Германии.
				</p>
				<p class="t4">
					Электростанция состоит из двух уровней (A и B). На уровне B расположены регулирующие стержни АЭС. Террористы пытаются взорвать их в одном из двух мест: сверху (точка закладки бомбы A) или непосредственно рядом (точка закладки бомбы B).
				</p>
				<p class="t4">
					Основные бои разворачиваются на улице, внутри АЭС, в частности, в местах закладки бомбы; в радио-комнате, около рампы. Особое внимание стоит уделить подземному тоннелю или, как говорят, «секретке», ибо это один из самых любимых маршрутов к точке закладки бомбы B у террористов.
				</p>
				<p class="t4">
					Карта популярна среди игроков.
				</p>
				<p class="t4">	
					Официальные фракции этой карты — Подразделением «Феникс» (команда террористов) и SEAL Team 6 (команда спецназа).
				</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
					<ol class="oltext">
						<li>
							Уничтожить всех бойцов спецназа.
						</li>
						<li>
							Поставить бомбу и не дать разминировать её.
						</li>
					</ol>
				</div>
		</div> 
	</div>

	

	<div id="Container_08" class="container">
		<div id="C08" class="minicontainer">
			<div  class="overpass1">
				<h2 class="text1">Overpass</h2>
				<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
					  <img src="../img/view_maps/overpass/1o.jpg">
					  <img src="../img/view_maps/overpass/2o.jpg">
					  <img src="../img/view_maps/overpass/3o.jpg">
					  <img src="../img/view_maps/overpass/4o.jpg">
					  <img src="../img/view_maps/overpass/5o.jpg">
				</div>
				<div class="block1">
					<h2 class="text2">Авторы</h2>
					<div class="author"> 
						<p>Valve Corporation</p>
						<p>Hidden Path</p>
						<p>Entertainment</p>
					</div>
				</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
			<div class="overpass2">
				<p class="t1">
					«Быстро развивающийся геймплей в Европейской обстановке; защитите канал эстакады за спецназ или взорвите эстакаду за террористов.»
				</p>
				<p class="t2" >
					— Официальное описание
				</p>
				<p class="t3">
					Overpass (de_overpass) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive. Выпущена в обновлении Winter Offensive вместе с Cobblestone.
				</p>
				<h3>Описание</h3>
				<p class="t4">
					Карта основана на водопроводном канале и эстакаде в Берлине, что в Германии. 
				</p>
				<p class="t4">
					Террористы пытаются взорвать грузовик, а точнее его содержимое — ракету. Её можно подорвать непосредственно вблизи (точка закладки бомбы А), либо подорвать опору эстакады (точка закладки бомбы B), обрушив тем самым грузовик с ракетой, на которой он стоит. База возрождения спецназа находится на точке закладки бомбы А, где также располагается грузовик с ракетой. База возрождения террористов — в нижней части канала. Точка закладки бомбы В находится ниже базы спецназа под эстакадой, до нее можно добраться по лестнице. 
				</p>
				<p class="t4">
					Основные бои происходят на эстакаде, под эстакадой, в водопроводном канале, а также в парковой зоне. 
				</p>
				<p class="t4">
					Официальные фракции этой карты — Подразделение «Феникс» (команда террористов) и GSG-9 (команда спецназа).
				</p>
				<h4>Задачи карты</h4>
				<p class="t4">
					Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех террористов.
					</li>
					<li>
						Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
					</li>
					<li>
						Разминировать бомбу после того, как террористы её поставили.
					</li>
				</ol>
				<p class="t4">
					Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
				</p>
				<ol class="oltext">
					<li>
						Уничтожить всех бойцов спецназа.
					</li>
					<li>
						Поставить бомбу и не дать разминировать её.
					</li>
				</ol>
			</div>
		</div> 
	</div>
	
	<div id="Container_09" class="container">
		<div id="C09" class="minicontainer">
			<div  class="train1">
				<h2 class="text1">Train</h2>
					<div class="fotorama" data-width="700" data-ratio="570/323" data-max-width="100%">
						  <img src="../img/view_maps/train/1t.jpg">
						  <img src="../img/view_maps/train/2t.jpg">
						  <img src="../img/view_maps/train/3t.jpg">
						  <img src="../img/view_maps/train/4t.jpg">
						  <img src="../img/view_maps/train/5t.jpg">
					</div>
					<div class="block1">
						<h2 class="text2">Авторы</h2>
						<div class="author">
							<p>Кристофер Мэйр</p> 
							<p>Valve Corporation</p>
							<p>Hidden Path</p>
							<p>Entertainment</p>
						</div>
					</div>
				<div class="block1">
					<h2 class="text3">Режим игры</h2>
					<div class="game">
						<p>Закладка бомбы</p> 
					</div>
				</div>
			</div>
				<div class="train2">
					<p class="t3">
						Train (de_train) — карта со сценарием закладки бомбы в Counter-Strike: Global Offensive.
					</p>
					<h3>Описание</h3>
					<p class="t4">
						Действия карты происходят в России в железнодорожном депо.
					</p>
					<p class="t4">
						Террористы пытаются подорвать вагоны с ядерными отходами (один на каждой точке закладки бомбы). Спецназ же должен предотвратить подрыв, либо уничтожить террористов.
					</p>
					<p class="t4">
						Основные бои проходят на точках закладки бомб (A и B), в тоннелях, а также здании депо.
					</p>
					<p class="t4">
						Карта большая, здесь преобладают дальние дистанции, полно мест для кемпинга. Train популярен среди игроков. Кроме этого, карта входит в группу «карт передовой».
					</p>
					<p class="t4">	
						Официальные фракции этой карты — Балканы (команда террористов) и SEAL Team 6 (команда спецназа).
					</p>
					<h4>Задачи карты</h4>
					<p class="t4">
						Спецназу для победы нужно сделать одну из ниже перечисленных вещей:
					</p>
					<ol class="oltext">
						<li>
							Уничтожить всех террористов.
						</li>
						<li>
							Не дать террористам поставить C4 на один из тайников с оружием (точки закладки бомбы A или B).
						</li>
						<li>
							Разминировать бомбу после того, как террористы её поставили.
						</li>
					</ol>
					<p class="t4">
						Террористам же нужно сделать одну вещь для победы из ниже перечисленных:
					</p>
					<ol class="oltext">
						<li>
							Уничтожить всех бойцов спецназа.
						</li>
						<li>
							Поставить бомбу и не дать разминировать её.
						</li>
					</ol>
				</div>
		</div> 
	</div>
	
	<footer>
		<div class="minifooter">
			<div class="footinfo">
				<div class="footimg1">
					<a href="http://www.esrb.org/ratings/" class="esrb"><img src="../img/footer_esrb_big.png" alt="esrb"></a>
				</div>
				<div class="imgtext">
					<ul class="imgitem">
						<li class="items"><a href="https://store.steampowered.com/"><img src="../img/footer_steam.png" alt=""></a></li>
						<li class="items"><a href="https://www.valvesoftware.com/ru/"><img src="../img/footer_valve.png" alt=""></a></li>
						<li class="items"><a href="https://developer.valvesoftware.com"><img src="../img/footer_source.png" alt=""></a></li>
					</ul>
					<div class="t5">
						<p class="t05">
							© 2018 Valve Corporation, all rights reserved.  Valve, the Valve logo, Source, 
							the Source logo, Steam, the Steam logo, Counter-Strike, and the Counter-Strike 
							logo are trademarks and or registered trademarks of the Valve Corporation.
						</p>
					</div>
				</div>
		</div>
		</div>
	</footer>

</body>
</html>