<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>counter-stricke</title>

	<link rel="stylesheet" type="text/css" href="../css/inf.css">
	<link rel="stylesheet" href="../css/carusel.css">
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Cormorant+Garamond|Fira+Sans:100" rel="stylesheet">
</head>
<body>
	<header class="headinf">
		<div class="wrapper">
			<div class="menu">
				<ul class="menu__item">
					<li class="item"><a href="index.html" id="csgo" class="item__CSGO">CS:GO</a></li>
					<li class="item"><a href="#" class="menu__link">Новости</a></li>
					<li class="item"><a href="#" class="menu__link">Обновления</a></li>
					<li class="item"><a href="maps.html" class="menu__link">Карты</a></li>
					<li class="item"><a href="#" class="menu__link">Звания</a></li>
				</ul>
			</div>
		</div>	
	</header>

	


</body>
</html>