<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rank</title>

	<link rel="stylesheet" type="text/css" href="../css/rankstyle.css">

	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Bowlby+One+SC|Cormorant+Garamond|PT+Sans|Lobster|Fira+Sans:100|Poiret+One" rel="stylesheet">
</head>
<body>
	<header class="headinf">
		<div class="wrapper">
			<div class="menu">
				<ul class="menu__item">
					<li class="item"><a href="index.html" id="csgo" class="item__CSGO">CS:GO</a></li>
					<li class="item"><a href="news.html" class="menu__link">Новости</a></li>
					<li class="item"><a href="updates.html" class="menu__link">Обновления</a></li>
					<li class="item"><a href="maps.html" class="menu__link">Карты</a></li>
					<li class="item"><a href="rank.html" class="menu__link">Звания</a></li>
				</ul>
			</div>
		</div>	
	</header>
	<h1 class="infopage" >Система повышения в CS:GO (2018)</h1>
	<div id="Container_1" class="container">
		<div class="minicontainer">
			<div class="rank">
				<div class="rank_1">
					<div class="rankimg"><img src="../img/rank/s1.png" alt="Silver 1">
					<h4>Silver 1</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/s2.png" alt="Silver 2">
					<h4>Silver 2</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/s3.png" alt="Silver 3">
					<h4>Silver 3</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/s4.png" alt="Silver 4">
					<h4>Silver 4</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/s5.png" alt="Silver Elite">
					<h4>Silver Elite</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/s6.png" alt="Silver Elite Master">
					<h4>Silver Elite Master</h4>
					</div>
				</div>
				<div class="rank_2">
					<div class="rankimg"><img src="../img/rank/z1.png" alt="Gold Nova 1">
					<h4>Gold Nova 1</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/z2.png" alt="Gold Nova 2">
					<h4>Gold Nova 2</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/z3.png" alt="Gold Nova 3">
					<h4>Gold Nova 3</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/z4.png" alt="Gold Nova Master">
					<h4>Gold Nova Master</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/a1.png" alt="Master Guardian 1">
					<h4>Master Guardian 1</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/a2.png" alt="Master Guardian 2">
					<h4>Master Guardian 2</h4>
					</div>
				</div>
				<div class="rank_3">
					<div class="rankimg"><img src="../img/rank/a3.png" alt="Master Guardian Elite">
					<h4>Master Guardian Elite</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/b1.png" alt="Distinguished Master Guardian">
					<h4>Distinguished Master Guardian</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/b2.png" alt="Legendary Eagle">		<h4>Legendary Eagle</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/b3.png" alt="Legendary Eagle Master">
					<h4>Legendary Eagle Master</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/sup.png" alt="Supreme Master First Class">
					<h4>Supreme Master First Class</h4>
					</div>
					<div class="rankimg"><img src="../img/rank/global.png" alt="The Global Elite">
					<h4>The Global Elite</h4>
					</div>
				</div>
			</div>

			<div class="rankinfo">
				<h2>Система рангов в CS:GO.</h2>
				<p>
					Несмотря на внимание, которое уделяется рангам, информации о том, как работает эта система, почти нет.
				</p>
				<p>
					Ранг в CS:GO — это почётный знак. У многих игроков с трудом получается повышать свой уровень в системе матчмейкинга. Кто-то пытается вырваться из «серебряного ада», а кто-то — добраться до высот Global Elite.
				</p>
				<h2>Как работают ранги в CS:GO.</h2>
				<p>
					Когда вы начнёте своё путешествие в матчмейкинге, сначала вам нужно будет выиграть десять матчей, не больше двух в день. Они позволяют ранговой системе определить ваш уровень. Игрок без рейтинга не сможет соединиться в матчмейкинге с обладателями рангов выше Master Guardian 1, разве что он заранее договорится с четырьмя друзьями.
				</p>
				<p>
					Как только вы закончите эти десять матчей, в зависимости от ваших результатов вас определят в одну из 18 групп по навыкам (Skill Group). После этого вы сможете играть столько, сколько захотите, но лишь с игроками, чьи ранги находятся в диапазоне +5/-5 от вашего (опять-таки, разве что вы не соберете команду из пяти человек).
				</p>
				<p>
					В зависимости от ваших успехов и неудач, ваш ранг может меняться после матчей. Механики этого процесса до сих пор неизвестны, но лучший способ улучшить ранг — это побеждать.
				</p>
				<p>
					Если не играть месяц, группа по навыкам исчезнет, и, чтобы вернуть её, понадобится победа или ничья в матче. А пока вы её не вернёте, вы не сможете играть с обладателями рангов выше Master Guardian 1.
				</p>
				<p>
					Если обобщить, то на ваш рейтинг влияют следующие факторы.
				</p>
				<ol>
					<li>Имеющееся количество очков в ELO системе.</li>
					<li>
						Количество выигранных/проигранных раундов (чем больше вы выигрываете раундов и чем меньше их проигрываете, тем быстрее вы будете повышаться в звании).
					</li>
					<li>Получение награды СЦИ.</li>
				</ol>
				<p>
					Чем больше игр вы сыграли, тем сложнее будет изменить ранг.
				</p>
				<p>
					Из-за количества рейтинга в Glicko-2 чем дольше вы будете играть на определённом уровне, тем сильнее система будет уверена, что она правильно определила ваш ранг. С низким количеством существенные изменения ранга невозможны. Если вы следили за попытками какого-нибудь стримера или ютубера повысить звание от Silver 1 до Global, вы, скорее всего, заметили, что на стадиях Silver прогресс занимает очень много времени. Это происходит потому, что игрок понижает себе ранг, нарочно проиграв несколько матчей. Игра становится уверена, что правильно определила его рейтинг, и начинает очень неохотно реагировать на его последующие победы. Конечно, это не означает, что поднять звание невозможно. Если долго и усердно трудиться и побеждать игроков выше своего уровня, количество рейтинга снова увеличится, и подъём ускорится.
				</p>
			</div>
		</div>
	</div>
	
	<div id="Container_2" class="container">
		<div class="minicontainer">
			
		</div>
	</div>
	<footer>
		<div class="minifooter">
			<div class="footinfo">
				<div class="footimg1">
					<a href="http://www.esrb.org/ratings/" class="esrb"><img src="../img/footer_esrb_big.png" alt="esrb"></a>
				</div>
				<div class="imgtext">
					<ul class="imgitem">
						<li class="items"><a href="https://store.steampowered.com/"><img src="../img/footer_steam.png" alt=""></a></li>
						<li class="items"><a href="https://www.valvesoftware.com/ru/"><img src="../img/footer_valve.png" alt=""></a></li>
						<li class="items"><a href="https://developer.valvesoftware.com"><img src="../img/footer_source.png" alt=""></a></li>
					</ul>
					<div class="t5">
						<p class="t05">
							© 2018 Valve Corporation, all rights reserved.  Valve, the Valve logo, Source, 
							the Source logo, Steam, the Steam logo, Counter-Strike, and the Counter-Strike 
							logo are trademarks and or registered trademarks of the Valve Corporation.
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>