<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>updates</title>

	<link rel="stylesheet" type="text/css" href="../css/blognews.css">

	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Bowlby+One+SC|Cormorant+Garamond|PT+Sans|Lobster|Fira+Sans:100|Poiret+One" rel="stylesheet">
</head>
<body>
	<header class="headinf">
		<div class="wrapper">
			<div class="menu">
				<ul class="menu__item">
					<li class="item"><a href="index.html" id="csgo" class="item__CSGO">CS:GO</a></li>
					<li class="item"><a href="news.html" class="menu__link">Новости</a></li>
					<li class="item"><a href="updates.html" class="menu__link">Обновления</a></li>
					<li class="item"><a href="maps.html" class="menu__link">Карты</a></li>
					<li class="item"><a href="rank.html" class="menu__link">Звания</a></li>
				</ul>
			</div>
		</div>	
	</header>

	<div id="Container_01" class="container">
		<div class="minicontainer">
			<div class="banner">
				<h1>Обновления от Valve</h1>
			</div>
		</div>	
	</div>

	<div id="Container_2" class="container">
		<div class="minicontainer">
			<h2>Выпуск 1</h2>
			<p class="datenews">21.05.2018</p>
			<div class="misc">
				<h3>Разное</h3>
				<p>
					Логика бомбы теперь запускает каждый тик, когда она близка к взрывам или обезвреживанию, обращаясь к некоторым редким случаям, когда чрезвычайно близкое разряжение все равно приведет к взрыву бомбы.
				</p>
				<p>
					Если бы бомба взорвалась и обезвреживалась в одно и то же время, теперь она будет считаться обезвреженной.
				</p>
				<p>
					Старшие учетные записи теперь получат предупреждение в Конкурсном лобби, когда они вступают в сватовство с другими основными счетами, чей доверительный фактор может повлиять на их опыт знакомств.
				</p>	
			</div>

			<div class="gameplay">
				<h3>Геймплей</h3>
				<p>Общие настройки окружающих звуков:</p>
				<ul class="updates">
				  <li class="updates_item">
				  		Повышенное разрешение и характер эффектов реверберации для лучшего отражения окружающей геометрии карты
				  </li>
				  <li class="updates_item">
				  		Малые настройки микширования
				  </li>
				  <li class="updates_item">
				  		Improved vent destruction sounds and increased audible distance.
				  </li>
				  <li class="updates_item">
				  		Добавлен новый тип hitbox для шеи и применил его к существующей шеe hitbox на персональных моделях. Пули, которые проникают в шею в голову, теперь будут считаться выстрелами в голову. Это должно сделать более интуитивно понятным, когда атака со стороны приведет к выстрелу в голову.
				  </li>
				  <li class="updates_item">
				  		Исправлена ​​«клавиша использования», чтобы более надежно забирать оружие на землю и не бросать активное оружие, если невозможно заменить замещающее оружие.
				  </li>
				</ul>
			</div>

			<div class="maps">
				<h3>Карты</h3>
				<p>Nuke:</p>
				<ul class="updates">
					<li class="updates_item">
						Оптимизация для низких настроек
					</li>
					<li class="updates_item">
						Заблокированная видимость между силосами внутри сайта
					</li>
					<li class="updates_item">
						Портировано через изменения в игре ShortNuke
					</li>
					<li class="updates_item">
						Удалено токсическое
					</li>
					<li class="updates_item">
						Вентиль больше не соединяется непосредственно с site B, но имеет другой выход близко к двойным дверям
					</li>
					<li class="updates_item">
						Выдвинули новые угловые коробки на site B еще дальше, чтобы предотвратить угол выстрела в голову в направлении рампы
					</li>
					<li class="updates_item">
						Добавлен сплошной фон к желтому крану внутри B-site
					</li>
					<li class="updates_item">
						Сглаженное движение игроков
					</li>
				</ul>
				<p>Overpass:</p>
				<ul class="updates">
					<li class="updates_item">
						Уменьшенный объем окружающих звуков в Overpass
					</li>
					<li class="updates_item">
						Добавлен столкновение гранаты и игрока, чтобы оградить клетку возле строительства
					</li>
					<li class="updates_item">
						Удалена жуткая тень исчезающая при приближении к главному входу Т на сайт B
					</li>
				</ul>
			</div>
		</div>
	</div>

	<footer>
		<div class="minifooter">
			<div class="footinfo">
				<div class="footimg1">
					<a href="http://www.esrb.org/ratings/" class="esrb"><img src="../img/footer_esrb_big.png" alt="esrb"></a>
				</div>
				<div class="imgtext">
					<ul class="imgitem">
						<li class="items"><a href="https://store.steampowered.com/"><img src="../img/footer_steam.png" alt=""></a></li>
						<li class="items"><a href="https://www.valvesoftware.com/ru/"><img src="../img/footer_valve.png" alt=""></a></li>
						<li class="items"><a href="https://developer.valvesoftware.com"><img src="../img/footer_source.png" alt=""></a></li>
					</ul>
					<div class="t5">
						<p class="t05">
							© 2018 Valve Corporation, all rights reserved.  Valve, the Valve logo, Source, 
							the Source logo, Steam, the Steam logo, Counter-Strike, and the Counter-Strike 
							logo are trademarks and or registered trademarks of the Valve Corporation.
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>